presidio-analyzer==2.2.364
presidio-anonymizer==2.2.364
spacy==3.8.16
fastapi==0.142.2
uvicorn==0.54.0
# Modelos de spaCy (en Vercel no se puede ejecutar `spacy download`)
es_core_news_md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.8.0/es_core_news_md-3.8.0-py3-none-any.whl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
